HEAD
# Visual Studio
.vs/

# Python
__pycache__/
*.pyc
.env
.venv
venv/

# Node / frontend
node_modules/
dist/
dist-ssr

# OS / editor noise
.DS_Store

﻿################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/titanhelp-mighty-pythons/.vs/titanhelp-mighty-pythons/FileContentIndex

