################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
.vscode/
**/__pychace__/
*.py[cod]
titanhelp-mighty-pythons/backend/TitanHelp.Backend/app/api/__pycache__/tickets_controller.cpython-311.pyc
titanhelp-mighty-pythons/backend/TitanHelp.Backend/app/api/__pycache__/__init__.cpython-311.pyc
titanhelp-mighty-pythons/backend/TitanHelp.Backend/app/api/__pycache__/__init__.cpython-311.pyc
titanhelp-mighty-pythons/backend/TitanHelp.Backend/app/api/__pycache__/tickets_controller.cpython-311.pyc
